<div class="row mt-2">
  <form [formGroup]="recipeForm" (ngSubmit)="saveRecipe()">
    <h3 class="my-3">Создание рецепта:</h3>
    <div class="form-group">
      <label for="title">Название:</label>
      <input
        type="text"
        formControlName="title"
        id="title"
        class="form-control"
      />
      <small
        *ngIf="fieldHasError('title', 'required')"
        class="form-text invalid-form-text"
      >
        Введите название
      </small>
    </div>

    <div class="form-group">
      <label for="description">Описание:</label>
      <textarea
        formControlName="description"
        id="description"
        class="form-control"
      ></textarea>
      <small
        *ngIf="fieldHasError('description', 'required')"
        class="form-text invalid-form-text"
      >
        Добавьте описание
      </small>
    </div>

    <div class="form-group">
      <label for="img">Изображение:</label>
      <input
        type="text"
        formControlName="img"
        id="img"
        class="form-control"
      />
      <small
        *ngIf="fieldHasError('img', 'required')"
        class="form-text invalid-form-text"
      >
        Добавьте изображение
      </small>
    </div>

    <div class="form-group">
      <label for="ingredients">Ингредиенты:</label>
      <textarea
        formControlName="ingredients"
        id="ingredients"
        class="form-control"
      ></textarea>
      <small
        *ngIf="fieldHasError('ingredients', 'required')"
        class="form-text invalid-form-text"
      >
        Добавьте ингредиенты
      </small>
    </div>

    <div class="form-group" formArrayName="steps">
      <button
        type="button"
        class="btn btn-outline-primary mb-3"
        (click)="addStep()">Добавить шаг
      </button>
      <div *ngFor="let stepControl of getStepControls(); let i = index">
        <div [formGroupName]="i" class="mb-3">
          <div class="form-group">
            <label for="imgStep">Изображение шага:</label>
            <input
              type="text"
              formControlName="imgStep"
              id="imgStep"
              class="form-control"
            />
            <small
              *ngIf="fieldHasError('imgStep', 'required')"
              class="form-text invalid-form-text"
            >
              Добавьте изображение шага
            </small>
          </div>
          <div class="from-group">
            <label for="descriptionStep">Описание шага:</label>
            <textarea
              formControlName="descriptionStep"
              id="descriptionStep"
              class="form-control"
            >
          </textarea>
            <small
              *ngIf="fieldHasError('descriptionStep', 'required')"
              class="form-text invalid-form-text"
            >
              Добавьте описание шага
            </small>
          </div>
        </div>
      </div>
    </div>
    <button [disabled]="recipeForm.invalid" class="btn btn-primary">Сохранить</button>
  </form>
</div>
