<div class="row mt-2">
  <div>
    <h4 class="my-3">Рецепты:</h4>

    <div class="card-group">
      <div class="card ml-3" *ngFor="let recipe of recipes" style="width: 18rem;">
        <img [src]="recipe.img" class="card-img-top" [alt]="recipe.title">
        <div class="card-body">
          <h5 class="card-title">{{ recipe.title }}</h5>
          <p class="card-text">{{ recipe.description }}</p>
          <button type="button" class="btn btn-success mr-2" [routerLink]="[recipe.id]">Перейти ></button>
          <button type="button" class="btn btn-danger" (click)="onRemove(recipe.id)">Удалить X</button>
        </div>
      </div>
    </div>
  </div>
</div>

