<div class="row mt-2">
  <div class="card" style="width: 18rem;">
    <img [src]="recipe.img" class="card-img-top" [alt]="recipe.title"/>
    <div class="card-body">
      <h5 class="card-title">{{ recipe.title }}</h5>
      <p class="card-text">{{ recipe.description }}</p>
      <p class="card-text">{{ recipe.ingredients }}</p>
      <p class="card-text" *ngFor="let step of recipe.steps; let i = index">
        <span>Step {{ i + 1 }}</span>
        <img [src]="step.imgStep" alt="" class="card-img-top">
        <span>{{ step.descriptionStep }}</span>
      </p>
    </div>
  </div>
</div>


